<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    .container {
      max-width: 800px;
    }

    .dropdown-item:active {
      background-color: #FFBE3C;
    }
    caption {
      caption-side: top;
      text-align: right;
    }
    a{
      text-decoration: none;
      color: #ffc107;
    }
  </style>
</head>
<body>
<div th:replace="fragments/nav :: nav"/>
<br>
<br>
<div class="container">

  <form class="input-group" th:object="${searchForm}">
    <div class="input-group row">
      <div class="col-1">
      </div>
      <div class="col-3">
        <select class="form-select btn-outline-info" th:field="${searchForm.filter}">
          <option selected th:value="${filterList[0]}"
                  th:text="${filterList[0].value}">부동산
          </option>
        </select>
      </div>
      <div class="col-5">
        <input type="text" class="form-control col-6" th:field="${searchForm.keyword}">
      </div>
      <div class="col-2" style="float: right;">
        <button type="submit" class="btn btn-warning">검색</button>
      </div>
      <div class="col-1">
      </div>
    </div>
  </form>

  <br>
  <form th:object="${joinList}" method="post" onsubmit="return confirm('가입 처리하시겠습니까?')">
    <table class="table" style="vertical-align: middle;">
      <caption>
        <span>총 게시물 수 : [[${total}]]개</span> &nbsp
        <button type="submit" class="btn btn-outline-secondary" formaction="/admin/user/join">가입승인</button>
      </caption>
      <thead>
      <tr>
        <th scope="col">
          <div>
            <input class="form-check-input" type="checkbox" value="" name="joinAgentIds" onclick="selectAll(this)">
          </div>
        </th>
        <th scope="col">부동산명</th>
        <th scope="col">휴대폰 번호</th>
        <th scope="col">이메일</th>
        <th scope="col">등록번호</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="agent : ${agentList.content}">
        <td>
          <input class="form-check-input" type="checkbox" th:field="${joinList.joinAgentIds}" th:value="${agent.id}">
        </td>
        <td th:text="${agent.companyName}">
          Mark
        </td>
        <td th:text="${agent.companyPhoneNum}">
          Mark
        </td>
        <td th:text="${agent.companyEmail}">
          Mark
        </td>
        <td th:text="${agent.agentCode}">
          Mark
        </td>

      </tr>
      </tbody>
    </table>
  </form>

  <nav aria-label="..." style="position:absolute; left: 50%; transform: translateX(-50%); bottom: 6%;">
    <ul class="pagination pagination-sm">
      <!--            이전 버튼-->
      <li class="page-item" th:if="${pageCom gt 0}">
        <a class="page-link"
           th:href="@{/admin/user/join(filter=${param.filter}, keyword=${param.keyword}, page=((5 *${pageCom})-1))}">
          이전</a>
      </li>
      <!--            데이터 존재 x 경우-->
      <li class="page-item" th:if="${agentList.totalPages eq 0}">
        <a class="page-link active" href="#">1</a>
      </li>
      <!--            마지막 페이지가 속해 있지 않은 경우-->
      <li class="page-item" th:if="${agentList.totalPages gt 5*(pageCom + 1) and agentList.totalPages gt 0}"
          th:each="num : ${#numbers.sequence(pageCom*5 + 1 , 5*(pageCom + 1))}">
        <a class="page-link active" th:if="${num eq agentList.pageable.pageNumber+1}"
           th:href="@{/admin/user/join(filter=${param.filter}, keyword=${param.keyword}, page=${num}-1)}"
           th:text="${num}">num</a>
        <a class="page-link" th:unless="${num eq agentList.pageable.pageNumber+1}"
           th:href="@{/admin/user/join(filter=${param.filter}, keyword=${param.keyword}, page=${num}-1)}"
           th:text="${num}">num</a>
      </li>
      <!--            마지막 페이지가 속해있는 경우-->
      <li class="page-item" th:if="${agentList.totalPages le 5*(pageCom + 1) and agentList.totalPages gt 0}"
          th:each="num : ${#numbers.sequence(pageCom*5 + 1, agentList.totalPages)}">
        <a class="page-link active" th:if="${num eq agentList.pageable.pageNumber+1}"
           th:href="@{/admin/user/join(filter=${param.filter}, keyword=${param.keyword}, page=${num}-1)}"
           th:text="${num}">num</a>
        <a class="page-link" th:unless="${num eq agentList.pageable.pageNumber+1}"
           th:href="@{/admin/user/join(filter=${param.filter}, keyword=${param.keyword}, page=${num}-1)}"
           th:text="${num}">num</a>
      </li>
      <!--            다음 버튼-->
      <li class="page-item" th:if="${(agentList.totalPages / (5.0 *(pageCom+1))) gt 1}">
        <a class="page-link"
           th:href="@{/admin/user/join(filter=${param.filter}, keyword=${param.keyword}, page=(5 *(${pageCom}+1)))}">
          다음</a>
      </li>
    </ul>
  </nav>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<script th:inline="javascript">


  function selectAll(selectAll)  {
    const checkboxes = document.getElementsByName('joinAgentIds');

    checkboxes.forEach((checkbox) => {
      checkbox.checked = selectAll.checked;
    })
  }
</script>
</body>
</html>