<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="nav">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/analysis/join-path">주말내집</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            데이터
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/analysis/join-path">가입경로</a></li>
                            <li><a class="dropdown-item" href="/admin/analysis/age">연령대</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            커뮤니티 관리
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/board/fix">게시물 고정</a></li>
                            <li><a class="dropdown-item" href="/admin/board/delete">삭제 게시물</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            회원 관리
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/user/join">가입 승인</a></li>
                            <li><a class="dropdown-item" href="/admin/user/withdrawal/agent">공인중개사 탈퇴</a></li>
                            <li><a class="dropdown-item" href="/admin/user/withdrawal">일반회원 탈퇴</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            신고
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/report">신고관리</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            거래관리
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/house/apply">빈집 거래 승인</a></li>
                            <li><a class="dropdown-item" href="/admin/house/review">빈집 거래 후기</a></li>
                        </ul>
                    </li>

                </ul>
                <form th:action="@{/admin/logout}" method="post">
                    <button type="submit" class="btn btn-warning">로그아웃</button>
                </form>
            </div>
        </div>
    </nav>
</div>